<h2>Sign up</h2>

<%= form_with model: resource, url: registration_path(resource_name), local: true do |form| %>
  <%= devise_error_messages! %>

  <div class="mb-3">
    <%= form.label :name, "Name" %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :address, "Address" %>
    <%= form.text_field :address, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :province, "Province" %>
    <%= form.select :province, ["Ontario", "Manitoba", "Quebec"], {}, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :email %>
    <%= form.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :password %> <i>(6 characters minimum)</i>
    <%= form.password_field :password, autocomplete: "new-password", class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", required: true %>
  </div>

  <div class="actions">
    <%= form.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
