<h1>Manage Categories</h1>
<%= link_to "Add New Category", new_admin_category_path, class: "btn btn-primary" %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <%= link_to "Edit", edit_admin_category_path(category), class: "btn btn-secondary btn-sm" %>
          <%= link_to "Delete", admin_category_path(category), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-between align-items-center mb-3">
  <%= link_to "Back to Admin Dashboard", admin_root_path, class: "btn btn-secondary" %>
</div>