<%= form_with model: [:admin, @menu], local: true, html: { multipart: true }, class: "bg-light p-4 rounded shadow-sm" do |form| %>
  <h2 class="mb-4"><%= @menu.new_record? ? "Add Product" : "Edit Product" %></h2>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :price, class: "form-label" %>
    <%= form.number_field :price, step: 0.01, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :category_id, "Category", class: "form-label" %>
    <%= form.collection_select :category_id, @categories, :id, :name, { prompt: "Select a category" }, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :availability_status, class: "form-label" %>
    <%= form.check_box :availability_status %> Available
  </div>

  <div class="mb-3">
    <%= form.label :image, class: "form-label" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <%= form.submit @menu.new_record? ? "Add Product" : "Update Product", class: "btn btn-primary mt-3" %>
<% end %>
