<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Taste Of Motherland" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= javascript_importmap_tags %>
    <!-- Bootstrap CSS -->
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- Favicon and manifest -->
    <link rel="icon" href="/icon.png" type="image/png">

    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- Application stylesheet -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="/">Taste Of Motherland</a>

        <!-- Toggler for Mobile View -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <!-- Admin Authentication -->
            <% if admin_signed_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Admin
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="adminDropdown">
                  <li class="dropdown-item disabled">Logged in as Admin</li>
                  <li><%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "dropdown-item" %></li>
                </ul>
              </li>
            <% elsif customer_signed_in? %>
              <!-- Customer Authentication -->
              <li class="nav-item dropdown me-3">
                <a class="nav-link dropdown-toggle text-white" href="#" id="customerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Customer
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="customerDropdown">
                  <li><%= link_to "Profile", edit_customer_registration_path, class: "dropdown-item" %></li>
                  <li><%= link_to "Logout", destroy_customer_session_path, method: :delete, class: "dropdown-item" %></li>
                </ul>
              </li>
            <% else %>
              <!-- Show Login Links -->
              <li class="nav-item me-3">
                <%= link_to "Sign Up", new_customer_registration_path, class: "nav-link text-white" %>
              </li>
              <li class="nav-item me-3">
                <%= link_to "Login", new_customer_session_path, class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to "Login as Admin", new_admin_session_path, class: "nav-link text-white" %>
              </li>
            <% end %>

            <!-- Cart -->
            <li class="nav-item me-3">
              <%= link_to cart_path, class: "nav-link text-white" do %>
                <i class="fas fa-shopping-cart"></i> Cart
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <!-- Bootstrap JavaScript -->
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" %>
  </body>
</html>
